html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.TextField {
  padding-left: 10%;
  padding-right: 10%;
  width:80%;
}

.PartLeft {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
}

.PartRight {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
}

#myComponent {
  margin-left: 15%;
  margin-right: 15%;
  height: 70%;
  width: 70%;
}

#app:before, #app:after {
  display: block;
  height: 15%;
  content: "";
}
